@model List<SystemUserModel>

<div class="table-overflow-systemUser mt-4 shadow ps-3 pb-3 pe-3 bg-body rounded w-100" style="background-color: #FFFFFF !important;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Nome do usuário</th>
                <th scope="col">Função empresarial</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.DisplayName</td>
                        <td>@item.BusinessRole == 1 ? Estagiário : @item.BusinessRole == 2 ? Análista : Gestor</td>
                        <td>
                            <button title="Editar" onclick="edit(@item.Id)" class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                            <button title="Deletar" onclick="delete(@item.Id)" class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                    </tr>
                }
            } 
        </tbody>
    </table>
</div>