@model ClientModel;

<div id="editModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cliente</h5>
            </div>
            <div class="modal-body">
                <form id="clientFormId">
                    @if (Model != null)
                    {
                        <input id="clientId" name="client.id" value="@Model.Id" hidden />
                    }
                    <div class="row">
                        <div class="col-3">
                            <div class="form-check" style="margin-top: 5px;">
                                <input class="form-check-input" type="radio" name="type" id="cpfId" onchange="ChangePeople(true)" checked>
                                <label class="form-check-label" for="cpfId">
                                    Pessoa física
                                </label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-check" style="margin-top: 5px;">
                                <input class="form-check-input" type="radio" name="type" onchange="ChangePeople(false)" id="cnpjId">
                                <label class="form-check-label" for="cnpjId">
                                    Pessoa juridica
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <input class="form-control" id="clientInfoId" type="text" placeholder="CPF/CNPJ">
                        </div>
                        <div class="col-12">
                            <input class="form-control" id="nameId" name="client.name" placeholder="Nome" value="@(Model != null ? Model.Name : "")">
                        </div>
                        <div class="col-6">
                            <input class="form-control" id="phoneNumberId" name="client.phoneNumber" placeholder="Telefone" value="@(Model != null ? Model.PhoneNumber : "")">
                        </div>
                        <div class="col-6">
                            <input class="form-control" id="mailId" name="client.mail" placeholder="Email" value="@(Model != null ? Model.Mail : "")">
                        </div>
                        <div class="col-3">
                            <input class="form-control" id="zipCodeId" name="client.zipCode" placeholder="CEP" value="@(Model != null ? Model.ZipCode : "")">
                        </div>
                        <div class="col-6">
                            <input class="form-control" id="addressId" name="client.address" placeholder="Endereço" value="@(Model != null ? Model.Address : "")">
                        </div>
                        <div class="col-3">
                            <input class="form-control" id="cityId" name="client.city" placeholder="Cidade" value="@(Model != null ? Model.City : "")">
                        </div>
                        <div class="col-3">
                            <input class="form-control" id="stateId" name="client.state" placeholder="Estado" value="@(Model != null ? Model.State : "")">
                        </div>
                        <div class="col-9 d-flex justify-content-end">
                            <div class="form-check" style="margin-top: 8px;">
                                <input class="form-check-input" type="checkbox" value="true" name="client.isEnabled" id="isEnabledId" checked="@(Model == null ? true : Model.IsEnabled)">
                                <label class="form-check-label" for="isEnabledId">
                                    Ativo
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="Close()" type="button" class="btn btn-primary">Fechar</button>
                <button onclick="Save()" type="button" class="btn btn-primary mb-1">Salvar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Client/Edit.js" asp-append-version="true"></script>

<script>
    @if (Model != null)
    {
        if (Model.CNPJ == "")
        {
            <text>$("#clientInfoId").val("@Model.CNPJ");</text>
        }
        else
        {
            <text>$("#clientInfoId").val("@Model.CPF");</text>
        }
    }
</script>