@model List<ClientModel>

<div class="table-overflow-client mt-4 shadow ps-3 pb-3 pe-3 bg-body rounded w-100" style="background-color: #FFFFFF !important;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">CPF/CNPJ</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">E-mail</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @if(item.CNPJ == null)
                            {
                                item.CPF.ToString();
                            }
                            else
                            {
                                item.CNPJ.ToString();
                            }
                        </td>
                        <td>@item.Name</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Mail</td>
                        <td>
                            <button title="Editar" onclick="edit(@item.Id)" class="iconButton"><i class="glyphicon glyphicon-edit"></i></button>
                            <button title="Deletar" onclick="delete(@item.Id)"  class="iconButton"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>