@using ProjectPortfolio.Enumerators
@model AttendancePanelCardModel;

@if (Model != null)
{
    @foreach (var item in Model.List)
    {
        <div class="card item" draggable="true">
            <div class="d-flex justify-content-between">
                <input hidden class="cardId" value="@item.Id" />
                <input hidden class="statusCardId" value="@item.Status" />
                <div>
                    <font class="sequencialId" title="Número">@item.SequentialId</font>
                    <font class="client" title="Cliente">- @item.ClientName</font>
                </div>
                <div>
                    <font class="priority" title="Prioridade">
                        @if (item.Priority == PriorityEnum.High)
                        {
                            <div>Alta</div>
                        }
                        else if (item.Priority == PriorityEnum.Medium)
                        {
                            <div>Medio</div>
                        }
                        else
                        {
                            <div>Baixa</div>
                        }
                    </font>
                    <font class="dateCreated" title="Data de criação">- @item.DateCreated.ToString("dd/MM/yyyy")</font>
                </div>
            </div>
            <font title="Título">@item.Title</font>
            <font title="Descrição" class="description">@item.Description</font>
        </div>
    }

}

