@using ProjectPortfolio.Enumerators
@model AttendancePanelCardModel;

@if (Model != null)
{
    @foreach (var item in Model.List)
    {
        <div class="card item" draggable="true">
            <div class="d-flex justify-content-between">
                <input hidden class="cardId" value="@item.Id" />
                <input hidden class="statusCardId" value="@item.Status" />
                <div class="card-heade pt-1">
                    <div class="sequencialId" title="Número">@item.SequentialId</div>
                    <div class="priority" title="Prioridade">
                        @if (item.Priority == PriorityEnum.High)
                        {
                            <div><b>Prioridade: Alta</b></div>
                        }
                        else if (item.Priority == PriorityEnum.Medium)
                        {
                            <div><b>Prioridade: Média</b></div>
                        }
                        else
                        {
                            <div><b>Prioridade: Baixa</b></div>
                        }   
                    </div>
                    <div class="client" title="Cliente">Cliente: @item.ClientName</div>
                </div>
                <div>
                    <button title="Editar" onclick="Edit(@item.Id)" class="iconButton icon-Panel">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </div>
            </div>
            <font class="card-titlePanel" title="Título">@item.Title</font>
            <font title="Descrição" class="description">@item.Description</font>
        </div>
    }
}