@using ProjectPortfolio.Enumerators
@model AttendancePanelCardModel;

@if (Model != null)
{
    @foreach (var item in Model.List)
    {
        <div class="card item" draggable="true">
            <div class="d-flex justify-content-between">
                <input hidden class="cardId" value="@item.Id" />
                <input hidden class="statusCardId" value="@item.Status" />
                <div class="card-heade pt-1">
                    <font class="priority" title="Prioridade">
                        @if (item.Priority == PriorityEnum.High)
                        {
                            <div>Alta</div>
                        }
                        else if (item.Priority == PriorityEnum.Medium)
                        {
                            <div>Medio</div>
                        }
                        else
                        {
                            <div>Baixa</div>
                        }
                    </font>
                    <font class="sequencialId" title="Número">- @item.SequentialId</font>
                    <font class="client" title="Cliente">- @item.ClientName</font>
                </div>
                <div>
                    <button title="Editar" onclick="Edit(@item.Id)" class="iconButton icon-Panel">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                    <button title="Notas" onclick="Note(@item.Id)" class="iconButton icon-Panel">
                        <i class="glyphicon glyphicon-book"></i>
                    </button>
                </div>
            </div>
            <font class="card-titlePanel" title="Título">@item.Title</font>
            <font title="Descrição" class="description">@item.Description</font>
        </div>
    }
}